{notempty name="plugin['jquery-ui']"}
	<link rel="stylesheet" href="__INSS__/css/plugins/jQueryUI/jquery-ui-1.10.4.custom.min.css" />
	<link rel="stylesheet" href="__INSS__/css/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">
{/notempty}
{notempty name="plugin.date"}	
	<link rel="stylesheet" href="__INSS__/css/plugins/date-time/bootstrap-datetimepicker.css" />
{/notempty}

{notempty name="plugin.calendar"}	
	<link href="__INSS__/css/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
	<link href="__INSS__/css/plugins/fullcalendar/fullcalendar.print.css" rel='stylesheet' media='print'>
{/notempty}
