{extend name="base@base/page_base" /}
{block name="content"}

<style>
    .c-red{color: red;}
    .AddIcon{font-size: 19px;line-height: 31px;cursor:pointer;}
    .mt-3{margin-top:3px;}
    .ml1r{margin-left:1rem;}
    .file_upload{
        border: 1px solid #dfdfdf;
        width: 121px;
        height: 36px;
        line-height: 34px;
        text-align: center;
        color: #676795;
        font-size: 16px;
        position: relative;
        padding-left:18px;
    }
    .file_upload i{
        position: absolute;
        top:0px;
        left:19px;
        font-size:19px;
        color: #60b879;
    }
    .msg_content{
        margin:25px 0px;
        padding: 25px 0px;
        box-sizing:border-box;
        border: 1px solid #00ccff;
        border-radius:15px;
        position: relative;
    }
    .msg_del{
        border-radius:5px;
        color: #fff;
        background-color:#3399ff;
        width:auto;
        height: 28px;
        line-height: 28px;
        padding: 0px 12px;
        position: absolute;
        top:-15px;
        left:16px;
        text-align: center;
        font-size: 13px;
        cursor:pointer;
    }
    .addbox{padding: 0 1.5rem;}
    .additem{float: left;margin-left:1rem;}
    .de-container{padding:10px 20px}
    .top_infor{
        width: 100%;
        height: 40px;
        font-size: 24px;
        line-height: 40px;
        text-align: center;
    }
    .top_infor > span{
        color: red;
    }

</style>

<div class="page-container">
    <div class="top_infor">当前添加数据月份:<span class="current_month"></span>月</div>
    <form action="" method="" class="form form-horizontal" id="form-article-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>门店：</label>
            <div class="formControls col-xs-8 col-sm-3"> <span class="select-box">
                        <select class="select" name="store_id" id="store_id">
                            <?php $res = get_comlist(); foreach($res as $k => $v){  ?>
                            <option value="<?php echo $v['ID']; ?>"><?php echo $v['NAME']; ?></option>
                            <?php } ?>
                        </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>上月预测台数：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" value="" private="required" placeholder="请输入预测台数" id="expect_num" name="expect_num"  onkeyup="clearNoNum(this)">
            </div>
            <span class="c-red">台</span>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>上月实际台数：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" value="" private="required" placeholder="请输入上月实际台数" id="actual_num" name="actual_num"  onkeyup="clearNoNum(this)">
            </div>
            <span class="c-red">台</span>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>上月预测毛利：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" value="" private="required" placeholder="请输入上月预测毛利" id="expect_margin" name="expect_margin"  onkeyup="clearNoNum(this)">
            </div>
            <span class="c-red">万元</span>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>上月实际毛利：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" value="" private="required" placeholder="请输入上月实际毛利" id="actual_margin" name="actual_margin"  onkeyup="clearNoNum(this)">
            </div>
            <span class="c-red">万元</span>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>上月预测毛利率：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" value="" private="required" placeholder="请输入上月预测毛利率" id="expect_marginprofit" name="expect_marginprofit"  onkeyup="clearNoNum(this)">
            </div>
            <span class="c-red">%</span>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>上月实际毛利率：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" value="" private="required" placeholder="请输入上月实际毛利率" id="actual_marginprofit" name="actual_marginprofit"  onkeyup="clearNoNum(this)">
            </div>
            <span class="c-red">%</span>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>本月预测销售台数：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" value="" private="required" placeholder="请输入本月预测销售台数" id="tm_sale_num" name="tm_sale_num"  onkeyup="clearNoNum(this)">
            </div>
            <span class="c-red">台</span>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>本月预测进价合计：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" value="" private="required" placeholder="请输入本月预测进价合计" id="tm_price" name="tm_price"  onkeyup="clearNoNum(this)">
            </div>
            <span class="c-red">万元</span>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>本月预测销价合计：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" value="" private="required" placeholder="请输入本月预测销价合计" id="tm_sale_price" name="tm_sale_price"  onkeyup="clearNoNum(this)">
            </div>
            <span class="c-red">万元</span>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>本月预测毛利：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" value="" private="required" placeholder="请输入本月预测毛利" id="tm_margin" name="tm_margin"  onkeyup="clearNoNum(this)">
            </div>
            <span class="c-red">万元</span>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>本月预测毛利率：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" value="" private="required" placeholder="请输入上月实际毛利率" id="tm_marginprofit" name="tm_marginprofit"  onkeyup="clearNoNum(this)">
            </div>
            <span class="c-red">%</span>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-3 col-xs-offset-4 col-sm-offset-2">
                <button  onClick="return article_save_submit();" class="btn btn-primary radius" type="button">提交</button>
                <button onClick="layer_close();" class="btn btn-default radius ml1r" type="button">取消</button>
            </div>
        </div>
    </form>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
    function article_save_submit(){
        var num=0;
        var str = '';
        $("input").each(function () {
            if ($(this).val() == "") {
                this.focus();
                num++;
                str = $(this).attr("placeholder")+"</br>";
            }

        });
        if(num>0)
        {
            layer.msg(str);
            return false;
        }
        else
        {
            var str = $("#form-article-add").serialize();
            $.ajax({
                type: 'POST',
                url: '{:Url("invoiceadd")}',
                data:str,
                dataType: 'json',
                success: function(data){
                    if(data.status=='1'){
                        layer.msg(data.msg);
                        setTimeout("location.reload();",3000);
                    }
                    if(data.status=='0'){
                        layer.msg(data.msg);
                    }
                },
                error:function(data) {
                    if(data.status=='0'){
                        layer.msg(data.msg);
                    }
                },
            });
        }
    }
    //预加载获取品牌
    $(document).ready(function(){
        var store_id = "store_id=" + $("#store_id").val();
        $.ajax({
            type : 'POST' ,
            url: '{:Url("carbrand")}',
            data: store_id,
            dataType: 'json',
            success: function(data){
                $.each(data,function(k,v){
                    var html = '<option class="store_id" value="'+v.id+'">'+v.carbrand_name+'</option>';
                    $("#carbrand").append(html);
                });
            },
            error:function(data) {
                console.log(data.msg);
            }
        });
    });

    //获取品牌（通过选择）
    $("#store_id").change(function(){
        $("#carbrand > option").remove();
        $("#carseries > option").remove();
        $("#carsize > option").remove();
        var store_id = "store_id=" + $(this).val();

        $("#carseries").html("<option value=''>请先选择品牌</option>");
        $("#carsize").html("<option value=''>请先选择车系</option>");
        $.ajax({
            type : 'POST' ,
            url: '{:Url("carbrand")}',
            data: store_id,
            dataType: 'json',
            success: function(data){
                var html = '<option>请选择</option>';
                $.each(data,function(k,v){
                    html += '<option class="store_id" value="'+v.id+'">'+v.carbrand_name+'</option>';
                });
                $("#carbrand").append(html);
            },
            error:function(data) {
                console.log(data.msg);
            }
        });
    });
    //获取车系
    $("#carbrand").change(function(){
        $("#carseries > option").remove();
        $("#carsize > option").remove();
        var carbrand_id = "carbrand_id=" + $(this).val();
        $("#carsize").html("<option value=''>请先选择车系</option>");
        $.ajax({
            type : 'POST' ,
            url: '{:Url("carseries")}',
            data: carbrand_id,
            dataType: 'json',
            success: function(data){
                var html = '<option>请选择</option>';
                $.each(data,function(k,v){
                    html += '<option class="carseries" value="'+v.id+'">'+v.carseries_name+'</option>';
                });
                $("#carseries").append(html);
            },
            error:function(data) {
                console.log(data.msg);
            }
        });
    });
    //获取车型
    $("#carseries").change(function(){
        $("#carsize > option").remove();

        var carseries_id = "carseries_id=" + $(this).val();
        $.ajax({
            type : 'POST' ,
            url: '{:Url("carsize")}',
            data: carseries_id,
            dataType: 'json',
            success: function(data){
                var html = '<option>请选择</option>';
                $.each(data,function(k,v){
                    html += '<option class="carsize" value="'+v.id+'">'+v.carsize_name+'</option>';
                });
                $("#carsize").append(html);
            },
            error:function(data) {
                console.log(data.msg);
            }
        });
    });

    $(function(){
        //当前月份
        var current_date = new Date();
        var cur_month = current_date.getMonth()+1;
        $(".top_infor span.current_month").html(cur_month);
    })

</script>
{/block}