<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>车型库龄表</title>
		<script type="text/javascript" src="__PUBLIC__/kpi/jquery-2.1.1.js"></script>
		<script type="text/javascript" src="__PUBLIC__/kpi/table.js"></script>
		<link rel="stylesheet" type="text/css" href="/position/public/lib/Hui-iconfont/1.0.8/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="/position/public/lib/self_tip.css" />
		<script type="text/javascript" src="/position/public/lib/layer/2.4/layer.js"></script>
		<script type="text/javascript" src="/position/public/lib/pubjs.js"></script>

		<script type="text/javascript">
			$(document).ready(function() {
                                //预计表
				var w = $(".table_box").width();
				var h = $(".table_box").height();
				$("#MyTable thead tr th").css({"text-align":"center","padding":"10px 10px","height":"20px"});
				$("#MyTable").css({"text-align":"center","font-size":"0.5rem","width":w,"height":h});
				$("#MyTable td").css({"text-align":"center","padding":"8px 2px","color":"rgb(70, 70, 70)"});
				$("#MyTable div").css({"margin":"0 auto"});
				FixTable("MyTable",  3, w, h);
                                //库存数量差异表
				var w3 = $(".table_box3").width();
				var h3 = $(".table_box3").height();
				$("#MyTable3 thead tr th").css({"text-align":"center","padding":"10px 10px","height":"20px"});
				$("#MyTable3").css({"text-align":"center","font-size":"0.5rem","width":w3,"height":h3});
				$("#MyTable3 td").css({"text-align":"center","padding":"8px 2px","color":"rgb(70, 70, 70)"});
				$("#MyTable3 div").css({"margin":"0 auto"});
				FixTable("MyTable3",  0, w, h);
			});
			// ]]>
		</script>	

		<style>
			body{
				font-size: 62.5%;				
			}
                        table
                        {
                        border-collapse:collapse;
                        }
			.table_box{
				width: 100%;
				height: 460px;
				margin: 0 auto;
				font-size: 0.5rem;
			}
                        .table_box2{
				width: 100%;
				height: 160px;
				margin: 0 auto;
				font-size: 0.5rem;
			}
                        #MyTable2{
                            width:100%;
                            height: 100px;
                            text-align: center;
                        }
                        #MyTable2 thead tr{
                            height: 30px;
                            background-color: rgb(209, 234, 255);
                        }
                        .table_box3{
				width: 100%;
				height: 460px;
				margin: 0 auto;
				font-size: 0.5rem;
			}
                        .table_box4{
				width: 100%;
				height: 60px;
				margin: 0 auto;
				font-size: 0.5rem;
			}
                        #MyTable4{
                            width:100%;
                            height: 100px;
                            text-align: center;
                            margin-bottom: 50px;
                        }
                        #MyTable4 thead tr{
                            height: 30px;
                            background-color: rgb(209, 234, 255);
                        }
			a{
				text-decoration: none;;
			}
			.top_bar{
				width: 100%;
				height: 40px;
			}
			.top_bar .btn{
				width: auto;
				height: 20px;
				padding: 4px 12px;
				margin-top: 6px;
				background-color: #5a98de;
				border-radius: 8px;
				-webkit-border-radius: 8px;
				color: #fff;
				font-size: 14px;
				font-weight: 400;
			}
                        .search_box{
				width: 100%;
				height: 40px;
				margin: 10px auto;
				border: 1px solid #eaeaea;
			}
			.select_box{
			    border: solid 1px #ddd;
			    box-sizing: border-box;
			    vertical-align: middle;
			    width: 250px;
			    padding: 4px 5px;
			    display: inline-block;
			    margin-top: 5px;
			    margin-left: 20px;
			    float: left;	
			    height: 30px;			
			}
			.select{
				border: 0;
				font-size: 14px;
				box-sizing: border-box;
			    cursor: pointer;
			    line-height: normal;
			    font-weight: normal;
			    width: 100%;
			    white-space: nowrap;
			    outline: none;				
			}
			.search_btn{
                            background-color: #5a98de;
			    border-radius: 5px;
			    color: #FFFFFF;
			    float: left;
				display: inline-block;
			    box-sizing: border-box;
			    cursor: pointer;
			    text-align: center;
			    font-weight: 400;
			    white-space: nowrap;
			    vertical-align: middle;
			    width: auto;
			    border: none;
   				outline: none;
   				height: 30px;
   				margin-left: 20px;
   				margin-top: 5px;
   				padding: 0 10px;
			}
			.search_box >span{
				display: block;
				float: left;
				width: 40px;
				height: 40px;
				float: left;
				text-align: right;
				line-height: 40px;
				font-size: 14px;
			}

		</style>

	</head>
	
	<body>
                <form action="{:Url('index')}" method="post">
			<div class="search_box">
				<span>门店:</span>
				<div class="select_box">
                                    <select class="select" name="store_id" id="store_id">
                                            
						<?php $res = get_comlist(); foreach($res as $k => $v){  ?>
						<option value="<?php echo $v['ID']; ?>"><?php echo $v['NAME']; ?></option>
						<?php } ?>
                                    </select>
				</div>
				<span>年份:</span>
				<div class="select_box">
					<select class="select" name="year" id="store_year">
					</select>
				</div>
				<span>月份:</span>
				<div class="select_box">
					<select class="select" name="month" id="store_month">
						<option value="">请选择月份</option>
						<option value="1">1月</option>
						<option value="2">2月</option>
						<option value="3">3月</option>
						<option value="4">4月</option>
						<option value="5">5月</option>
						<option value="6">6月</option>
						<option value="7">7月</option>
						<option value="8">8月</option>
						<option value="9">9月</option>
						<option value="10">10月</option>
						<option value="11">11月</option>
						<option value="12">12月</option>
					</select>
				</div>

				<button name="" id="" class="search_btn" type="submit"> 查询</button>
				<!--清除数据-->
				<input type="hidden" id="table_name" value="carseriesposage">
				<?php $clear_button = session("clear_button"); if($clear_button == "1"){ echo '<button name="" id="clear_button" style="background-color:orange;" class="search_btn" type="button" onclick="clearbutton()">清空数据</button>';} ?>
				<!--清除数据-->
				<!--审批状态-->
				<input type="hidden" id="status" value="<?php if(!empty($data_status)){ if(get_emp_no()==$data_status['emp_no']){echo $data_status['status']; }else{echo 0;}} ?>">
				<!--审批状态-->
			</div>
		</form>
                <!--车系库龄表-->
		<h1 style="width:100%;text-align: center;"><span></span>车型库龄表{:is_pass($data_status)}</h1>
		<div class="table_box">
			<table border="1" bordercolor="#ddd" cellpadding="0" cellspacing="0" id="MyTable">
				<thead>
					<tr>
						<th rowspan="2"><div style="width: 60px;">序号</div></th>
						<th rowspan="2"><div style="width: 60px;">品牌</div></th>
						<th rowspan="2"><div style="width: 60px;">车型</div></th>
						<th colspan="3"><div style="width: 60px;">三个月以内</div></th>
                                                <th colspan="3"><div style="width: 60px;">3-6个月</div></th>
                                                <th colspan="3"><div style="width: 60px;">6-12个月</div></th>
                                                <th colspan="3"><div style="width: 60px;">1年以上</div></th>
                                                <th colspan="2"><div style="width: 60px;">合计</div></th>
					</tr>
					<tr>
						<th>数量</th>
                                                <th>采购价</th>
                                                <th>金额</th>
                                                <th>数量</th>
                                                <th>采购价</th>
                                                <th>金额</th>
                                                <th>数量</th>
                                                <th>采购价</th>
                                                <th>金额</th>
                                                <th>数量</th>
                                                <th>采购价</th>
                                                <th>金额</th>
                                                <th>总数量</th>
                                                <th>总金额</th>
					</tr>
				</thead>
				<tbody>
                                        <?php $i=0; foreach($data as $k =>$v) { $i++ ?>
					<tr>
					<?php if($k == '合计'){ ?>
						<td colspan='3' >{$k}</td>
					<?php }else{ ?>
						<td >{$i}</td>
						<td>{$v["carbrand_name"]}</td>
						<td>{$v["carsize_name"]}</td>
                        <?php } ?>
                                        <?php if($k == '合计'){ ?>
						<td>{$v["three_num"]}</td>
                                        <?php }else{ ?>
                                                <td class="edit" data-order="{$v['id']}" data-key="three_num" data-type="float">{$v["three_num"]}</td>
                                        <?php } ?>
						<td><?php if($k != '合计'){ echo $v["three_price"]; } ?></td>
                                        <?php if($k == '合计'){ ?>
						<td>{$v["three_prices"]}</td>
                                        <?php }else{ ?>
						<td class="edit" data-order="{$v['id']}" data-key="three_prices" data-type="float">{$v["three_prices"]}</td>
                                        <?php } ?>
                                        <?php if($k == '合计'){ ?>
						<td>{$v["threetosix_num"]}</td>
                                        <?php }else{ ?>
						<td class="edit" data-order="{$v['id']}" data-key="threetosix_num" data-type="float">{$v["threetosix_num"]}</td>
                                        <?php } ?>
						<td><?php if($k != '合计'){ echo $v["threetosix_price"]; } ?></td>
                                        <?php if($k == '合计'){ ?>
						<td>{$v["threetosix_prices"]}</td>
                                        <?php }else{ ?>
						<td class="edit" data-order="{$v['id']}" data-key="threetosix_prices" data-type="float">{$v["threetosix_prices"]}</td>
                                        <?php } ?>
                                        <?php if($k == '合计'){ ?>
						<td>{$v["sixtotwelve_num"]}</td>
                                        <?php }else{ ?>
						<td class="edit" data-order="{$v['id']}" data-key="sixtotwelve_num" data-type="float">{$v["sixtotwelve_num"]}</td>
                                        <?php } ?>
						<td><?php if($k != '合计'){ echo $v["sixtotwelve_price"]; } ?></td>
                                        <?php if($k == '合计'){ ?>
						<td>{$v["sixtotwelve_prices"]}</td>
                                        <?php }else{ ?>
						<td class="edit" data-order="{$v['id']}" data-key="sixtotwelve_prices" data-type="float">{$v["sixtotwelve_prices"]}</td>
                                        <?php } ?>
                                        <?php if($k == '合计'){ ?>
						<td>{$v["year_num"]}</td>
                                        <?php }else{ ?>
                                                <td class="edit" data-order="{$v['id']}" data-key="year_num" data-type="float">{$v["year_num"]}</td>
                                        <?php } ?>        
						<td><?php if($k != '合计'){ echo $v["year_price"]; } ?></td>
                                        <?php if($k == '合计'){ ?>
						<td>{$v["year_prices"]}</td>
                                        <?php }else{ ?>        
						<td class="edit" data-order="{$v['id']}" data-key="year_prices" data-type="float">{$v["year_prices"]}</td>
                                        <?php } ?>         
						<td id="<?php if($k == '合计'){ echo 'total_quantity'; } ?>">{$v["total_quantity"]}</td>
						<td>{$v["aggregate_amount"]}</td>
					</tr>
                                        <?php } ?>
				</tbody>			
			</table>
		</div>
                <!--库存数量差异表-->
		<h1 style="width:100%;text-align: center;margin-top:30px;">库存数量差异表</h1>
		<div class="table_box2">
			<table border="1" bordercolor="#ddd" cellpadding="0" cellspacing="0" id="MyTable2">
				<thead>
					<tr>
                                            <th colspan="2">库存数</th>
                                            <th rowspan="2">差异</th>
                                            <th rowspan="2">备注</th>
					</tr>
					<tr>
                                            <th>财务</th>
                                            <th>销售</th>
					</tr>
				</thead>				
				<tbody> 
                                        <?php foreach($difference as $k => $v) { ?>
                                        <tr>
                                            <td class="edit" data-order="{$v['id']}" data-key="financial_inventory" data-type="float">{$v['financial_inventory']}</td>
                                            <td class="edit" data-order="{$v['id']}" data-key="sales_inventory" data-type="float">{$v['sales_inventory']}</td>						
                                            <td class="edit" data-order="{$v['id']}" data-key="difference" data-type="float">{$v['difference']}</td>
                                            <td class="edit" data-order="{$v['id']}" data-key="remarks" data-type="text">{$v['remarks']}</td>
					</tr>
                                        <?php } ?>
				</tbody>			
			</table>
		</div>
                <!--在途表-->
		<h1 style="width:100%;text-align: center;margin-top:30px;">在途表</h1>
		<div class="table_box3">
			<table border="1" bordercolor="#ddd" cellpadding="0" cellspacing="0" id="MyTable3">
				<thead>
					<tr>
                                            <th rowspan="2"><div style="width: 60px;">序号</div></th>
                                            <th colspan="3"><div style="width: 180px;">在途</div></th>
					</tr>
					<tr>
                                            <th>车系</th>
                                            <th>车架号</th>
                                            <th>采购价</th>
					</tr>
				</thead>				
				<tbody> 
                                        <?php $i=0; foreach($carseriesposage_way as $k => $v){ $i++ ?>
                                        <tr>
                                            <td>{$i}</td>
                                            <td>{$v['finance_carseries_name']}</td>
                                            <td class="edit finance_vin" data-order="{$v['id']}" data-key="finance_vin" data-type="text">{$v['finance_vin']}</td>
                                            <td class="edit" data-order="{$v['id']}" data-key="finance_price" data-type="float">{$v['finance_price']}</td>                                            
					</tr>
                                        <?php } ?>
                                        <tr style="background-color: darkseagreen;">
                                            <td>合计</td>
                                            <td></td>
                                            <td></td>						
                                            <td>{$datalist['finance_price']}</td>
					</tr>                 
				</tbody>			
			</table>
                <!--总计表-->
		<h1 style="width:100%;text-align: center;margin-top:30px;">总计表</h1>
                <div class="table_box4">
			<table border="1" bordercolor="#ddd" cellpadding="0" cellspacing="0" id="MyTable4">
				<thead>
					<tr>
                                            <th>合计</th>
                                            <th>数量</th>
                                            <th>金额</th>
					</tr>
				</thead>
				<tbody>
              
					<tr style="background-color: darkseagreen;">
                                        <td>总计</td>
					<td class="total_t">
						<script>
							$(document).ready(function(){
								var total_quantity = $("#total_quantity").text();
								var $i = 0;
								$("#MyTable3 .finance_vin").each(function(k,v){
									var c = $(this).text();
									if(c != '0'){
										$i++;
									}
								});
								console.log($i);
								$(".total_t").html(Number(total_quantity)+$i);
							})
						</script>
					</td>
                     <td><?php if(!empty($datalist['finance_price']) && !empty($data['合计']['aggregate_amount'])){ echo $datalist['finance_price']+$data['合计']['aggregate_amount'];}?></td>  
					</tr>
				</tbody>
			</table>
		</div>

		</div>
                <input type="hidden" value="<?php if(!empty($sid)) echo $sid; ?>" id="search_id"/>
				<input type="hidden" value="<?php if(!empty($year)) echo $year; ?>" id="search_year"/>
				<input type="hidden" value="<?php if(!empty($month)) echo $month; ?>" id="search_month"/>

				<script type="text/javascript" src="__LIB__/layer/2.4/layer.js"></script>
                <script>
					$(function(){
						//年份
						var current_date = new Date();
						var cur_year = current_date.getFullYear()-2 ;
						for(var i=0; i<5;i++){
							var html = '</option><option value="'+(cur_year+i)+'">'+(cur_year+i)+'年</option>';
							$("#store_year").append(html);
						};
						$("#store_year").val(current_date.getFullYear());
						//月份
						var cur_month = current_date.getMonth()+1;
						$("#store_month").val(cur_month);

					});

					$(document).ready(function(){
						var store_id = $("#search_id").val();
						var store_year = $("#search_year").val();
						var store_month = $("#search_month").val();
						if (store_id != "") {
							$("#store_id").val(store_id);
						};
						if(store_year != ''){
							$("#store_year").val(store_year);
						}
						if(store_month != ''){
							$("#store_month").val(store_month);
						};
						var store_name = $("#store_id").find("option:selected").text();
						$("h1 > span").eq(0).html(store_name);


					});


                        $(function(){
                                //修改
                                var self;
                                var status = $("#status").val();
                                $(".edit").hover(
                                    function(){
                                            if(status == 2 || status == ''){
                                                    $(this).css({"cursor":"url(/position/public/kpi/img/edit.png),default","background-color":"#eee"});
                                            }
                                    },
                                    function(){
                                            if(status == 2 || status == ''){
                                                    $(this).css({"cursor":"default","background-color":"#fff"});
                                            }
                                    }
                                );
                                //车型库龄表数据修改
                                $("#MyTable td.edit").on("dblclick",function(){
                                    self = $(this);
                                    var con = self.html();			//所点击要修改的原内容
                                    var table_name = 'carseriesposage';		//所点击要修改的表名
                                    var key_name = self.attr("data-key");	//所点击要修改的键名
                                    var order_num = self.attr("data-order");	//所点击要修改的序号id
                                    var datatype = self.attr("data-type");	//此处是何种类型格式
                                    if(status == 2 || status == ''){
										layer.msg('数量与金额存在关联关系，其中一个值发生变化时请注意需修改另一个值');
										setTimeout(function(){
											tip_function(datatype,table_name,key_name,con,1,order_num);
										},3000)
                                    }
                                });
                                //库存数量差异表修改
                                $("#MyTable2 td.edit").on("dblclick",function(){
                                    self = $(this);
                                    var con = self.html();			//所点击要修改的原内容
                                    var table_name = 'inventory_variance';	//所点击要修改的表名
                                    var key_name = self.attr("data-key");	//所点击要修改的键名
                                    var order_num = self.attr("data-order");	//所点击要修改的序号id
                                    var datatype = self.attr("data-type");	//此处是何种类型格式
                                    if(status == 2 || status == ''){
                                            tip_function(datatype,table_name,key_name,con,1,order_num);
                                    }
                                });
                                //在途表修改
                                $("#MyTable3 td.edit").on("dblclick",function(){
                                    self = $(this);
                                    var con = self.html();			//所点击要修改的原内容
                                    var table_name = 'carseriesposage_way';	//所点击要修改的表名
                                    var key_name = self.attr("data-key");	//所点击要修改的键名
                                    var order_num = self.attr("data-order");	//所点击要修改的序号id
                                    var datatype = self.attr("data-type");	//此处是何种类型格式
                                    if(status == 2 || status == ''){
                                            tip_function(datatype,table_name,key_name,con,1,order_num);
                                    }
                                });
                        });
                </script>
	</body>
</html>
