{extend name="base@base/page_base" /}
{block name="content"}

<style>
	.pr_input{width: 90px;text-align: center;background-color: #eeeeee;}
</style>

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户中心 <span class="c-gray en">&gt;</span> 用户管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="member_add('新建车品牌','{:Url('add')}')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 新建车型</a></span></div>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="80">编号</th>
				<th width="100">车系</th>
				<th width="100">车型</th>
                                <th width="100">厂家指导价</th>
                                <th width="100">厂家开票进货价</th>
				<th width="50">操作</th>
			</tr>
		</thead>
                <?php foreach($data_list as $k => $v){ ?>
		<tbody>
			<tr class="text-c">
				<td>{$v['id']}</td>
				<td>{$v['carseries_name']}</td>
				<td>{$v['carsize_name']}</td>
                                <td>{$v['guide_price']}</td>
                                <td>{$v['invoice_price']}</td>
				<td class="td-manage"><a title="编辑" href="javascript:;" onclick="member_edit('编辑','{:Url('edit',['id'=>$v['id']])}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a><a title="删除" href="javascript:;" onclick="member_del('{$v['id']}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
			</tr>
		</tbody>
                <?php } ?>
	</table>
    <?php echo $page; ?>
	</div>
</div>
{/block}
{block name="js"}

<script type="text/javascript">

function member_add(title,url){
    var index = layer.open({
      type: 2,
      content: url,
      area: ['100%', '100%'],
      title: title,
      maxmin: true
    });
    layer.full(index);      
}
/*用户-编辑*/
function member_edit(title,url){
	var index = layer.open({
      type: 2,
      content: url,
      area: ['100%', '100%'],
      title: title,
      maxmin: true
    });
    layer.full(index);
}
/*用户-删除*/
function member_del(id){
	var aid = "id="+id;
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '{:Url("del")}',
			data:aid,
			dataType: 'json',
			success: function(data){
				layer.msg('已删除!',{icon:1,time:1000});
				location.reload();
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
</script>
{/block}