{extend name="base@/layout/ins_popup" /}
{block name="content"}
        <style>
            .popup-fixed{width:100%}
            .popup-body{padding-left:35px;}
        </style>         
	<div class="popup-fixed">
		<div class="popup-header clearfix">
			<div class="pull-left">
				<label>
					<input class="ace" type="radio" id="rb_dgp" name="type" value="dgp" >
					<span class="lbl">单位-职位</span> </label>
				<label>
					<input class="ace" type="radio" id="rb_dp" name="type" value="dp" >
					<span class="lbl">部门-职位</span> </label>
				<label>
					<input class="ace" type="radio" id="rb_emp" name="type" value="emp"  >
					<span class="lbl">人员</span> </label>
				<label>
					<input class="ace" type="radio" id="rb_dsp" name="type" value="dsp"  >
					<span class="lbl">多部门-职位</span></label>
				<label>
					<input class="ace" type="radio" id="rb_csp" name="type" value="csp"  >
					<span class="lbl">多单位-职位</span></label>
			</div>
			<div class="pull-right">
				<a onclick="save();" class="btn btn-sm btn-primary btn-special">确定</a>
				<a onclick="layer_close();" class="btn btn-sm btn-default btn-special">关闭</a>
			</div>
		</div>
		<div class="popup-body clearfix">
			<div class="col-23 pull-left">
				<span class="popup-label"><b class="dgp hidden">单位</b><b class="hidden dp emp">部门</b></span><span class="popup-label"><b><a class="hidden asp" id="asp" href="javascript:void(0);" onclick="selectall()">&nbsp;&nbsp;全选</a></b></span>
				<div class="popup_tree_menu">
					<div id="dept_grade" style="width:100%;height:179px;" class="dgp hidden">
                                                {$list_dept_grade}
					</div>
					<div id="dept" style="width:100%;height:179px;" class="dp hidden"> 
                                                {$list_dept}
					</div>
					<div id="emp" style="width:100%;height:179px;" class="emp hidden">
                                                {$list_dept}
					</div>
				</div>
                                <div id="d_title">
					<span class="popup-label"><b class="dgp dp dsp csp hidden">职位</b></span>		
					<span class="popup-label"><b class="hidden emp">人员</b></span>
				</div>
				<div id="position" class="dgp dp dsp csp hidden" style="width:100%;height:170px;">
                                        {$list_position}
				</div>
				<div id="addr_list" class="hidden  emp" style="width:100%;height:170px;"></div>
			</div>
			<div class="col-30 pull-left">
				<div class="col-7 pull-left text-center mid" style="margin-top: 24px;">
					<div style="height:206px;">
						<a onclick="add_address('rc');" class="btn btn-sm btn-primary btn-special"><i class="fa fa-angle-double-right"></i></a>
						
					</div>
					<!--协商添加按钮注释开始-->
					<!-- <a onclick="add_address('cc');" class="btn btn-sm btn-primary"><i class="fa fa-angle-double-right"></i></a> -->
					<!--协商添加按钮注释结束-->
				</div>
				<div class="col-23 pull-left">
					<b class="popup-label">审批</b><span id="rc_count"></span>
					<div id="rc" class="selected" style="width:100%;height:376px;overflow:hidden">
						<ul></ul>
					</div>
					<!--协商部分，注释开始-->
					<!-- <b class="popup-label">协商</b><span id="cc_count"></span>
					<div id="cc" class="selected" style="width:100%;height:179px;overflow:hidden">
						<ul></ul>
					</div> -->
					<!--协商部分，注释结束-->
				</div>
			</div>
		</div>
	</div>
{/block}
{block name="js"}    
	<script type="text/javascript">                
                var valss = parent.$("#status").val();
                if(valss=="1"){
                    var pop_info = parent.$("#pop_info ul").html();
                    $("#rc ul").append(pop_info);
                }
                if(valss=="2"){
                    var pop_info = parent.$("#poprefer_info ul").html();
                    $("#rc ul").append(pop_info);
                }
                if(valss=="3"){
                    var pop_info = parent.$("#dept_info ul").html();
                    $("#rc ul").append(pop_info);
                }
                if(valss=="4"){
                    var pop_info = parent.$("#emp_info ul").html();
                    $("#rc ul").append(pop_info);
                }
                if(valss=="5"){
                    var pop_info = parent.$("#refer_info ul").html();
                    $("#rc ul").append(pop_info);
                }
		function selectall(){
			if($(".tree_menu a").hasClass("active")){
				$(".tree_menu a").removeClass("active");
			}else{
			$("#dept .tree_menu a[node=2]").addClass("active");
			$("#dept .tree_menu a[node=3]").addClass("active");
			$("#dept .tree_menu a[node=4]").addClass("active");
			$("#dept .tree_menu a[node=5]").addClass("active");
			$("#dept .tree_menu a[node=6]").addClass("active");
			$("#dept .tree_menu a[node=7]").addClass("active");
			$("#dept .tree_menu a[node=8]").addClass("active");
			$("#dept .tree_menu a[node=9]").addClass("active");
			$("#dept .tree_menu a[node=10]").addClass("active");
			$("#dept .tree_menu a[node=11]").addClass("active");
			$("#dept .tree_menu a[node=12]").addClass("active");
			$("#dept .tree_menu a[node=13]").addClass("active");
			$("#dept .tree_menu a[node=14]").addClass("active");
			$("#dept .tree_menu a[node=15]").addClass("active");
			$("#dept .tree_menu a[node=16]").addClass("active");
			$("#dept .tree_menu a[node=17]").addClass("active");
			$("#dept .tree_menu a[node=18]").addClass("active");
			$("#dept .tree_menu a[node=19]").addClass("active");
			$("#dept .tree_menu a[node=20]").addClass("active");
			$("#dept .tree_menu a[node=21]").addClass("active");
			$("#dept .tree_menu a[node=22]").addClass("active");
			$("#dept .tree_menu a[node=23]").addClass("active");
			$("#dept .tree_menu a[node=24]").addClass("active");
			$("#dept .tree_menu a[node=25]").addClass("active");
			$("#dept .tree_menu a[node=26]").addClass("active");
			$("#dept .tree_menu a[node=27]").addClass("active");
			$("#dept .tree_menu a[node=28]").addClass("active");
			$("#dept .tree_menu a[node=29]").addClass("active");
			$("#dept .tree_menu a[node=30]").addClass("active");
			$("#dept .tree_menu a[node=31]").addClass("active");
			$("#dept .tree_menu a[node=32]").addClass("active");
			$("#dept .tree_menu a[node=33]").addClass("active");
			$("#dept .tree_menu a[node=34]").addClass("active");
			$("#dept .tree_menu a[node=35]").addClass("active");
			$("#dept .tree_menu a[node=36]").addClass("active");
			$("#dept .tree_menu a[node=37]").addClass("active");
			$("#dept .tree_menu a[node=38]").addClass("active");
			$("#dept .tree_menu a[node=422]").addClass("active");
			}
		}

		$(document).on("click", ".selected a.fa-times", function() {
			$(this).parent().remove();
			recount();
		});

		// 双击添加到收件人 因后添加的数据 所以需要用live函数
		$(document).on("dblclick", "#addr_list label", function() {
			$text = $(this).text();
			$val = $(this).find("input").val();
			if ($("#rc.selected li[data='" + $val + "']").length === 0) {
				$li = $('<li><span></span><a class="fa fa-times"></a></li>');
				$li.find('span').text($text);
				$li.attr('data', $val);
				$li.appendTo("#rc.selected ul");
				recount();
			};
		});

		function recount() {
			$("#rc_count").text("(" + $("#rc.selected li").length + ")");
			$("#cc_count").text("(" + $("#cc.selected li").length + ")");
			$("#bcc_count").text("(" + $("#bcc.selected li").length + ")");
		}

		function save() {
                        var htmltext;
                        if(valss=="1"){                            
                            htmltext='';
                            $("#confirm_wrap,#consult_wrap,#refer_wrap", parent.document).hide();                                
				$("#confirm_wrap .address_list", parent.document).html("");
				$("#rc.selected li").each(function(i) {
					emp_no = $(this).attr('data');
                                        text_name = $.trim($(this).text());
                                        if(i==$("#rc.selected li").length-1){
                                            htmltext += text_name;
                                        }else{
                                            htmltext += text_name + '➨';
                                        }                                 
//					name = $.trim($(this).text());
//					name = 'super';
//					name = name.replace(/<.*>/, '');
					html_string = conv_inputbox_item(name, emp_no);
					$("#confirm_wrap .address_list", parent.document).append(html_string);
				});
                                $("#branch_input", parent.document).val(htmltext);
				$("#confirm_wrap span a", parent.document).remove();
				$("#confirm_wrap .address_list span", parent.document).append("<b><i class=\"fa fa-arrow-right\"></i></b>");
				$("#confirm_wrap .address_list span b:last", parent.document).html("<i class=\"fa\"></i>");

				$("#consult_wrap span a", parent.document).remove();
				$("#consult_wrap .address_list span", parent.document).append("<b><i class=\"fa fa-arrow-right\"></i></b>");
				$("#consult_wrap .address_list span b:last", parent.document).html("<i class=\"fa\"></i>");

				$("#confirm_wrap,#refer_wrap", parent.document).show();
				layer_close();
                        }
                        if(valss=="2"){
                                htmltext='';
                                $("#confirm_wrap,#consult_wrap,#refer_wrap", parent.document).hide();
				$("#consult_wrap .address_list,#refer_wrap .address_list", parent.document).html("");
				$("#rc.selected li").each(function(i) {
					emp_no = $(this).attr('data');
                                        text_name = $.trim($(this).text());
                                        if(i==$("#rc.selected li").length-1){
                                            htmltext += text_name;
                                        }else{
                                            htmltext += text_name + '➨';
                                        }
//					name = jQuery.trim($(this).text());
//					name = name.replace(/<.*>/, '');
					html_string = conv_inputbox_item(name, emp_no);
					$("#refer_wrap .address_list", parent.document).append(html_string);
				});
                                $("#refer_input", parent.document).val(htmltext);
				$("#refer_wrap span a", parent.document).remove();
				 $("#refer_wrap .address_list span", parent.document).append("<b><i class=\"fa\"></i></b>");
				$("#refer_wrap .address_list span b:last", parent.document).html("<i class=\"fa\"></i>");

				$("#consult_wrap span a", parent.document).remove();
				$("#consult_wrap .address_list span", parent.document).append("<b><i class=\"fa fa-arrow-right\"></i></b>");
				$("#consult_wrap .address_list span b:last", parent.document).html("<i class=\"fa\"></i>");
				$("#confirm_wrap,#consult_wrap,#refer_wrap", parent.document).show();
				layer_close();
                        }
                        if(valss=="3"){
                            htmltext='';
                                $("#dept_id", parent.document).html("");
                                var thtml ='';
                                $("#rc.selected li").each(function(i) {
					emp_no = $(this).attr('data');
                                        thtml ='<input type="hidden" name="depts[]" value="'+emp_no+'" >';
                                        text_name = $.trim($(this).text());
                                        if(i==$("#rc.selected li").length-1){
                                            htmltext += text_name;
                                        }else{
                                            htmltext += text_name + '➨';
                                        }
					$("#dept_id", parent.document).append(thtml);
					
				});
                                $("#dept_input", parent.document).val(htmltext);
				layer_close();
                        }
                        if(valss=="4"){
                            htmltext='';
                                $("#emp_id", parent.document).html("");
                                var thtml ='';
                                $("#rc.selected li").each(function(i) {
					emp_no = $(this).attr('data');
                                        thtml ='<input type="hidden" name="emps[]" value="'+emp_no+'" >';
                                        text_name = $.trim($(this).text());
                                        if(i==$("#rc.selected li").length-1){
                                            htmltext += text_name;
                                        }else{
                                            htmltext += text_name + '➨';
                                        }                                       
					$("#emp_id", parent.document).append(thtml);
					
				});
                                $("#emp_input", parent.document).val(htmltext);
				layer_close();
                        }
                        if(valss=="5"){
                                htmltext='';
                                $("#refer_id", parent.document).html("");
                                var thtml ='';
				$("#rc.selected li").each(function(i) {
					emp_no = $(this).attr('data');
                                        thtml ='<input type="hidden" name="refers[]" value="'+emp_no+'" >';
                                        text_name = $.trim($(this).text());
                                        if(i==$("#rc.selected li").length-1){
                                            htmltext += text_name;
                                        }else{
                                            htmltext += text_name + '➨';
                                        }
                                        html_string = conv_inputbox_item(name, emp_no);
					$("#refer_wrap .address_list", parent.document).append(html_string);
                                        $("#refer_id", parent.document).append(thtml);
				});
                                $("#refer_input", parent.document).val(htmltext);				
				layer_close();
                        }
		}

		// 显示AJAX 读取的数据
		function showdata(result) {
			$("#addr_list").html("");
//                        $.each(result,function(k,v){
//                            var emp_no =v.emp_no;
//                            alert(emp_no);
//                        });
			for (s in result) {
				var id = result[s].id;
				var position_name = result[s].position_name;
				var emp_no = result[s].emp_no;
				var email = result[s].email;
				var name = result[s].name;
				var name = name + "/" + position_name;
				var html_string = conv_address_item(name, emp_no);
				$("#addr_list").append(html_string);
			}
		}
		$(document).ready(function() {
                        if(valss=="3"){
                            $("#rb_dp").prop('checked', true);
                            $("#rb_dgp").parent().hide();
                            $("#rb_csp").parent().hide();
                            $("#rb_emp").parent().hide();
                            $("#rb_dsp").parent().hide();
                            $("#d_title").hide();
                            $("#position").hide();
                            $(".dp").removeClass("hidden");
                        }else if(valss=="4"){
                            $("#rb_emp").prop('checked', true);
                            $("#rb_dgp").parent().hide();
                            $("#rb_csp").parent().hide();
                            $("#rb_dp").parent().hide();
                            $("#rb_dsp").parent().hide();

                            $(".emp").removeClass("hidden");
                        }else{
                            $("#rb_{$type}").prop('checked', true);
			// 选择用户默认选择的类型

			$(".{$type}").removeClass("hidden");
                        }			
			$("input[name='type']").on('click', function() {
				$("input[name='type']").each(function() {
					$("." + $(this).val()).addClass("hidden");
				});
				$("." + $(this).val()).removeClass("hidden");
			});

			$("#emp .tree_menu  a").click(function() {
				$(".emp .tree_menu a").attr("class", "");
				var type = $("input[name='type']:checked").val();
                                var str = "dept_id=" + $(this).attr("node");
				$(this).addClass("active");
				sendAjax("{:Url('userajax')}","dept_id=" + $(this).attr("node"), function(data) {
					showdata(data);
				});                                
				return false;
				//禁止连接生效
			});

			$("#rb_csp").click(function() {
				$("#dept .tree_menu ul").each(function() {
					$(this).attr("style", "");
				});
				$(".tree_menu a.active").removeClass("active");
				//$(".tree_menu a.open").removeAttr("class","");
			});

			$("#dept .tree_menu a").click(function() {
				//$("#dept .tree_menu a").each(function() {
					//$(this).attr("class", "");
				//});				 
				if($("input[name='type']:checked").val()=="dsp"){
					if($(this).hasClass("active")){				
					$(this).removeClass("active");	
					}else{
					$(this).addClass("active");
					}
					var type = $("input[name='type']:checked").val();
				}else if($("input[name='type']:checked").val()=="csp"){
					if($(this).hasClass("active")){				
					$(this).removeClass("active");	
					}else{
					$(this).addClass("active");
					}
					var type = $("input[name='type']:checked").val();
				}
				else
				{
                $(".tree_menu a.active").removeClass("active");
				$(this).addClass("active");
				var type = $("input[name='type']:checked").val();
				}
				//return false;
				//禁止连接生效
			});

			$("#dept_grade .tree_menu a").click(function() {
				$("#dept_grade .tree_menu a").each(function() {
					$(this).attr("class", "");
				});
				$(this).addClass("active");

				var type = $("input[name='type']:checked").val();

				return false;
				//禁止连接生效
			});

			$("#position .tree_menu a").click(function() {
				$("#position .tree_menu a").each(function() {
					$(this).attr("class", "");
				});
				$(this).addClass("active");

				var type = $("input[name='type']:checked").val();

				return false;
				//禁止连接生效
			});
		});
		function add_address(name) {
			var type = $("input[name='type']:checked").val();
			switch(type) {
			case "dgp":
				$dept_grade_id = $("#dept_grade a.active").attr("node");
				$dept_grade_name = $("#dept_grade a.active span").text();

				if ($dept_grade_id == undefined) {
					ui_error("请选择部门级别");
					return false;
				}
				$position_id = $("#position a.active").attr("node");
				$position_name = $("#position a.active span").text();
                                if(valss!=="3"){
                                    if ($position_id == undefined) {
					ui_error("请选择职位");
					return false;
                                    }
                                }				
				$text = $dept_grade_name + "-" + $position_name;
				$val = "dgp_" + $dept_grade_id + "_" + $position_id;
				if ($("#" + name + ".selected li[data='" + $val + "']").length === 0) {
					$li = $('<li><span></span><a class="fa fa-times"></a></li>');
					$li.find('span').text($text);
					$li.attr('data', $val);
					$li.appendTo("#" + name + ".selected ul");
					recount();
				};
				break;
			case "dp":
				$dept_id = $("#dept a.active").attr("node");
				$dept_name = $("#dept a.active span").text();

				if ($dept_id == undefined) {
					ui_error("请选择部门");
					return false;
				}
				$position_id = $("#position a.active").attr("node");
				$position_name = $("#position a.active span").text();

				if(valss!=="3"){
                                    if ($position_id == undefined) {
					ui_error("请选择职位");
					return false;
                                    }
                                    $text = $dept_name + "-" + $position_name;
                                    $val = "dp_" + $dept_id + "_" + $position_id;
                                    if ($("#" + name + ".selected li[data='" + $val + "']").length === 0) {
                                            $li = $('<li><span></span><a class="fa fa-times"></a></li>');
                                            $li.find('span').text($text);
                                            $li.attr('data', $val);
                                            $li.appendTo("#" + name + ".selected ul");
                                            recount();
                                    };
                                }
                                if(valss=="3"){ 
//                                    if($("#rc.selected li").length>0){
//                                        alert('最多只能选择一个部门');
//                                        return false;
//                                    }
                                    $text = $dept_name;
                                    $val =  $dept_id;
                                    if ($("#" + name + ".selected li[data='" + $val + "']").length === 0) {
                                            $li = $('<li><span></span><a class="fa fa-times"></a></li>');
                                            $li.find('span').text($text);
                                            $li.attr('data', $val);
                                            $li.appendTo("#" + name + ".selected ul");
                                            recount();
                                    };
                                }
				
				break;
			case "dept":
				$dept_id = $("#dept a.active").attr("node");
				$dept_name = $("#dept a.active span").text();

				if ($dept_id == undefined) {
					ui_error("请选择部门");
					return false;
				}
				$text = $dept_name;
				$val = "dept_" + $dept_id;
				if ($("#" + name + ".selected li[data='" + $val + "']").length === 0) {
					$li = $('<li><span></span><a class="fa fa-times"></a></li>');
					$li.find('span').text($text);
					$li.attr('data', $val);
					$li.appendTo("#" + name + ".selected ul");
					recount();
				};
				break;

			case "emp":
                                if(valss=="4"){
                                    $("input:checked[name='addr_id']").each(function() {
					$(this).prop('checked', false);
					$text = $(this).parents("label").text().trim();
					$val = $(this).val();
					if ($("#" + name + ".selected li[data='" + $val + "']").length === 0) {
						$li = $('<li><span></span><a class="fa fa-times"></a></li>');
						$li.find('span').text($text);
						$li.attr('data', $val);
						$li.appendTo("#" + name + ".selected ul");
						recount();
					};
				});
                                }else{
                                    $("input:checked[name='addr_id']").each(function() {
					$(this).prop('checked', false);
					$text = $(this).parents("label").text().trim();
					$val = "emp_" + $(this).val();
					if ($("#" + name + ".selected li[data='" + $val + "']").length === 0) {
						$li = $('<li><span></span><a class="fa fa-times"></a></li>');
						$li.find('span').text($text);
						$li.attr('data', $val);
						$li.appendTo("#" + name + ".selected ul");
						recount();
					};
                                    });
                                }				
				break;

				case "csp":
					 var $dept_id = new Array();
				     var divs = $("#dept a.active");
				     var $depts = "";
					 for(var i=0; i<divs.length; i++){
					 	if(divs.length-1 == i){
					 		$depts += divs.eq(i).attr("node");
					 	}else{
					 		$depts += divs.eq(i).attr("node")+",";
					 	}                        
					}				
			                 var $dept_name = new Array();
			                 var spans = $("#dept a.active span");
			                 var $dept_names = "";
			                 for(var i=0; i<spans.length; i++){
				 	 	if(divs.length-1 == i){
				 	 		$dept_names += spans.eq(i).text();
				 	 	}else{
				 	 		$dept_names += spans.eq(i).text()+",";
				 	 	}                        
				 	}
				$dept_name = $("#dept a.active span").text();
				if ($dept_id == undefined) {
					ui_error("请选择部门");
					return false;
				}
				$position_id = $("#position a.active").attr("node");

				$position_name = $("#position a.active span").text();

				if ($position_id == undefined) {
					ui_error("请选择职位");
					return false;
				}
				$text = $dept_names + "-" + $position_name;
				$val = "csp_" + $depts + "_" + $position_id;
				$(".tree_menu a.active").removeClass("active");				
				if ($("#" + name + ".selected li[data='" + $val + "']").length === 0) {
					$li = $('<li><span></span><a class="fa fa-times"></a></li>');
					$li.find('span').text($text);
					$li.attr('data', $val);
					$li.appendTo("#" + name + ".selected ul");
					recount();
				};
				break;

				case "dsp":
					 var $dept_id = new Array();
				     var divs = $("#dept a.active");
				     var $depts = "";
					 for(var i=0; i<divs.length; i++){
					 	if(divs.length-1 == i){
					 		$depts += divs.eq(i).attr("node");
					 	}else{
					 		$depts += divs.eq(i).attr("node")+",";
					 	}                        
					}
			                 var $dept_name = new Array();
			                 var spans = $("#dept a.active span");
			                 var $dept_names = "";
			                 for(var i=0; i<spans.length; i++){
				 	 	if(divs.length-1 == i){
				 	 		$dept_names += spans.eq(i).text();
				 	 	}else{
				 	 		$dept_names += spans.eq(i).text()+",";
				 	 	}                        
				 	}
				$dept_name = $("#dept a.active span").text();
				if ($dept_id == undefined) {
					ui_error("请选择部门");
					return false;
				}
				$position_id = $("#position a.active").attr("node");

				$position_name = $("#position a.active span").text();

				if ($position_id == undefined) {
					ui_error("请选择职位");
					return false;
				}
				$text = $dept_names + "-" + $position_name;
				$val = "dsp_" + $depts + "_" + $position_id;
				$(".tree_menu a.active").removeClass("active");				
				if ($("#" + name + ".selected li[data='" + $val + "']").length === 0) {
					$li = $('<li><span></span><a class="fa fa-times"></a></li>');
					$li.find('span').text($text);
					$li.attr('data', $val);
					$li.appendTo("#" + name + ".selected ul");
					recount();
				};
				break;
			}
		}
	</script>
        <script type="text/javascript">
        // // var spantext=$(".span-val span", window.parent.document);
        // // alert(spantext);
        // $("#rc ul").append("<li data='emp_baiwenjuan'><span>白文娟/集团行政经理</span><a class='fa fa-times'></a></li>");
		$(document).ready(function(){
	                    $("ul.level2").find("a").last();
	                });			
	                $("ul.level2").find("a").bind("click",function(){
	                    if ($(this).hasClass("open")){
	                        if ($(this).next().find(".active").size()===0){
	                            $(this).next().slideUp(500,function(){
	                                $(this).prev().removeClass("open");
	                            }); 
	                        }else{
	                            $(this).next().slideUp(500,function(){
	                            $(this).prev().removeClass("open");		                    
	                            });
	                        }
	                    }else{
	                    	if($("input[name='type']:checked").val()=="csp"){}
		                    	else{
		                        $(this).addClass("open").next().slideDown(500,function(){
		                            if ($(this).nextAll("a").size()>0){
		                                $(this).parent().find("a").last();
		                            }else{
		                                $(this).parent().find("a").last();
		                            }                
		                        	});
	                    		}
	                    }            
                });
                function layer_close(){
                    var index=parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);
                }
	</script>
{/block}
