<extend name="Layout/ins_page" />
<block name="content">
     {:W('PageHeader/simple',array('name'=>'新建：'.$flow_type['name']))}
    <form method='post' id="form_data" class="well form-horizontal">
        <input type="hidden" id="opmode" name="opmode" value="add">
        <input type="hidden" id="ajax" name="ajax" value="1">
        <!-- <input type="hidden" id="confirm" name="confirm" >
        <input type="hidden" id="confirm_name" name="confirm_name" >
        <input type="hidden" id="consult" name="consult" >
        <input type="hidden" id="consult_name" name="consult_name">
        <input type="hidden" id="refer" name="refer">
        <input type="hidden" id="refer_name" name="refer_name" > -->
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label" for="dept">店名：</label>
            <div class="col-sm-8">
                <select class="form-control" name="dept_name" id="dept" check="require" msg="请选择店面">
                    <option value="">请选择店面</option>
                    {:fill_option($list['Alldept'])}
                </select>
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label" for="customer">客户名称*：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="customer" name="customer" check="require" msg="请输入姓名">
            </div>
        </div>

         <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label" for="channel">渠道：</label>
            <div class="col-sm-8">
                <select class="form-control" name="channel_id" id="channel" check="require" msg="请选择渠道">
                    <option value="">请选择渠道</option>
                    {:fill_option($list['Allchannel'])}
                </select>
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label leftpad" for="library">放款及咨询服务费类型：</label>
            <div class="col-sm-8">
                <select class="form-control" name="library_id" id="library" check="require" msg="请选择类型">
                    <option value="">请选择类型：</option>
                    {:fill_option($list['Alllibrary'])}
                </select>
            </div>
        </div>

        <div class="form-group col-sm-6">
          <label class="col-sm-4 control-label" for="mortgage">抵押状态：</label>
          <div class="col-sm-8">
            <select class="form-control" name="mortgage" id="mortgage">
              <option value="0">未抵押</option>
              <option value="2">已抵押</option>
            </select>
          </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label" for="zxservice">咨询服务费*：</label>
            <div class="col-sm-8">
                <div class="col-sm-10 leftpad">
                <input class="form-control clo-sm-6" type="number" id="zxservice" name="zxservice_cost" check="require" msg="请输入咨询费">
                </div>
                <div class="clo-sm-2 toppad">元</div>
            </div>
        </div>

        <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label" for="zxcost_time">咨询服务费交款日期：</label>
                <div class="col-sm-8">
                    <div class="input-daterange input-group" >
                        <input type="date" class="input-sm form-control text-center" name="zxcost_time"/>
                    </div>
                </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label" for="collateral">保证金*：</label>
            <div class="col-sm-8">
                <div class="col-sm-10 leftpad">
                <input class="form-control" type="number" id="collateral" name="collateral" check="require" msg="请输入保证金">
                </div>
                <div class="clo-sm-2 toppad">元</div>
            </div>
        </div>

        <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label" for="collateral_time">续保证金日期：</label>
                <div class="col-sm-8">
                    <div class="input-daterange input-group" >
                        <input type="date" class="input-sm form-control text-center" name="collateral_time"/>
                    </div>
                </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label" for="settle_mortgage_cost">落户抵押费*：</label>
            <div class="col-sm-8">
                <div class="col-sm-10 leftpad">
                <input class="form-control" type="text" id="settle_mortgage_cost" name="settle_mortgage_cost" check="require" msg="请输入落户抵押费">
                </div>
                <div class="clo-sm-2 toppad">元</div>
            </div>
        </div>

        <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label" for="settle_mortgage_time">落户抵押缴费日期：</label>
                <div class="col-sm-8">
                    <div class="input-daterange input-group" >
                        <input type="date" class="input-sm form-control text-center" name="settle_mortgage_time"/>
                    </div>
                </div>
        </div>

        <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label" for="car_loan_time">车贷申请日期：</label>
                <div class="col-sm-8">
                    <div class="input-daterange input-group" >
                        <input type="date" class="input-sm form-control text-center" name="car_loan_time"/>
                    </div>
                </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label" for="sales_user">销售顾问*：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="sales_user" name="sales_user" check="require" msg="请输入销售顾问">
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label" for="finance_service_manager">金融服务经理*：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="finance_service_manager" name="finance_service_manager" check="require" msg="请输入金融服务经理">
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label" for="finance_company">金融公司：</label>
            <div class="col-sm-8">
                <select class="form-control" name="finance_company_id" id="finance_company" check="require" msg="请选择金融公司">
                    <option value="">请选择金融公司</option>
                    {:fill_option($list['Allcompany'])}
                </select>
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label" for="carbrand">车品牌：</label>
            <div class="col-sm-8">
                <select class="form-control" name="carbrand_name" id="carbrand" check="require" msg="请选择品牌">
                    <option value="">请选择品牌</option>
                    {:fill_option($list['Allcarbrand'])}
                </select>
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label" for="carseries">车系：</label>
            <div class="col-sm-8">
                <select class="form-control" name="carseries_name" id="carseries" check="require" msg="请选择车系">
                    <option value="">请选择车系</option>
                    {:fill_option($list['Allcarseries'])}
                </select>
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label" for="carsize">车型：</label>
            <div class="col-sm-8">
                <select class="form-control" name="carsize_name" id="carsize" check="require" msg="请选择车型">
                    <option value="">请选择车型</option>
                    {:fill_option($list['Allcarsize'])}
                </select>
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label" for="car_money">车价格*：</label>
            <div class="col-sm-8">
                <div class="col-sm-10 leftpad">
                <input class="form-control" type="number" id="car_money" name="car_money" check="require" msg="请输入价格">
                </div>
                <div class="clo-sm-2 toppad">元</div>
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label" for="loan_money">贷款金额*：</label>
            <div class="col-sm-8">
                <div class="col-sm-10 leftpad">
                <input class="form-control" type="number" id="loan_money" name="loan_money" check="require" msg="请输入金额">
                </div>
                <div class="clo-sm-2 toppad">元</div>
            </div>
        </div>

         <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label" for="deadline">贷款期限*：</label>
            <div class="col-sm-8">
                <div class="col-sm-10 leftpad">
                <input class="form-control"  type='text' onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();" id="deadline" name="deadline" check="require" msg="请输入期限">
                </div>
                <div class="clo-sm-2 toppad">月</div>
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label" for="permit_loan_money">准贷金额*：</label>
            <div class="col-sm-8">
                <div class="col-sm-10 leftpad">
                <input class="form-control" type="number" id="permit_loan_money" name="permit_loan_money" check="require" msg="请输入金额">
                </div>
                <div class="clo-sm-2 toppad">元</div>
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label" for="loan_product_name">贷款产品名称*：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="loan_product_name" name="loan_product_name" check="require" msg="请输入名称">
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label" for="customer_telephone">客服联系电话*：</label>
            <div class="col-sm-8">
                <input class="form-control" type="number" id="customer_telephone" name="customer_telephone" check="require" msg="请输入电话号码">
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label" for="customer_telephone1">客服联系座机*：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="customer_telephone1" name="customer_telephone1" check="require" msg="请输入号码">
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label" for="customer_telephone2">客服联系手机*：</label>
            <div class="col-sm-8">
                <input class="form-control" type="number" id="customer_telephone2" name="customer_telephone2" check="require" msg="请输入号码">
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label" for="frame_number">车架号*：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="frame_number" name="frame_number" check="require" msg="请输入车架号">
            </div>
        </div>

        <div class="form-group col-sm-6">
                <label class="col-sm-4 control-label" for="entry_time">录入时间*：</label>
                <div class="col-sm-8">
                    <div class="input-daterange input-group" >
                        <input type="date" class="input-sm form-control text-center" check="require" msg="请选择录入时间" name="entry_time"/>
                    </div>
                </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label" for="remark">备注*：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="remark" name="remark" check="require" msg="请输入备注">
            </div>
        </div>



        <div class="clearfix"></div>

        <div class="action">
            <input class="btn btn-sm btn-primary" type="button" value="保存" onclick="save();">
            <input  class="btn btn-sm btn-default" type="button" value="取消" onclick="go_return_url();">
        </div>
    </form>
</block>
<block name="js">
    <script type="text/javascript">
        $("#carbrand").change(function(){
            var brand_id=$(this).val();
            sendAjax("{:U('Singlebrand')}","brand_id=" + brand_id, function(data) {
                console.log(data);
            	var htmls = "<option value=''>请选择车系</option>";
            	for(i in data.info){
            		htmls+= "<option value="+data.info[i].id+">"+data.info[i].carseries_name+"</option>";
            	}
                $("#carseries").html(htmls);
                $("#carsize").html("<option value=''>请先选择车系</option>")
            })
        });
        $("#carseries").change(function(){
            var cartype_id=$(this).val();
            sendAjax("{:U('Cartype')}","cartype_id=" + cartype_id, function(data) {
                console.log(data);
            	var htmls = "<option value=''>请选择车型</option>";
            	for(i in data.info){
            		htmls+= "<option value="+data.info[i].id+">"+data.info[i].carsize_name+"</option>";
            	}
                $("#carsize").html(htmls);
            })
        });


        function save() {

            // $("#refer_name").val("");
            // $("#refer_name").val($("#refer_wrap span.address_list").html());
            sendForm("form_data", "{:U('save')}", "{:U('Loanbusiness/index')}");
        }
    </script>
</block>