<div class="page-header clearfix">
    <h1 class="">{$name}</h1>
    <form name="form_search" id="form_search" method="post">
            <div>
                    <div class="row">
                        <div class="text-right">
                            <a  class="btn btn-sm btn-info btn-special" onclick="submit_adv_search();">搜索</a>
                        </div>
                    </div>
                <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="li_name">车贷申请日期：</label>
                    <div class="col-sm-4">
                        <input  class="form-control" type="date" id="li_name" name="li_name" >
                    </div>
                    <div class="col-sm-4">
                        <input  class="form-control" type="date" id="li_name" name="li_name" >
                    </div>
                </div>
                </div>
                <div class="row">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="li_content">咨询服务分交款日期：</label>
                    <div class="col-sm-4">
                        <input  class="form-control" type="date" id="li_content" name="li_content" >                        
                    </div>
                    <div class="col-sm-4">
                        <input  class="form-control" type="date" id="li_content" name="li_content" >                        
                    </div>
                </div>
                </div>
            </div>
        
        </form>
    

</div>
