<extend name="Layout/ins_page" />
<block name="content">
	{:W('PageHeader/simple',array('name'=>'系统参数','search'=>'N'))}
	<div class="panel blank-panel">
		<div class="panel-heading">
			<div class="panel-options">
				<ul class="nav nav-tabs">
					<li id="tb1">
						<a href="#tab-1" onclick="set_current_tab(1)" data-toggle="tab" aria-expanded="false">基本设置</a>
					
					<li id="tb4">
						<a href="#tab-4" onclick="set_current_tab(4)"data-toggle="tab" aria-expanded="false">其他</a>
					</li>
					<li id="tb5">
						<a href="#tab-5" onclick="set_current_tab(5)"data-toggle="tab" aria-expanded="false">推送设置</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="panel-body">
			<div class="tab-content">
				<div class="tab-pane" id="tab-1">
					<form id="form_system" name="form_system" method="post">
						<input type="hidden" name="data_type" value="system">
						<div class="form-group col-xs-12">
							<label class="col-sm-2 control-label text-right" for="code">系统名称*：</label>
							<div class="col-sm-10">
								<input class="form-control" type="text" id="system_name" name="system_name" check="require" msg="请输入系统名称" value="{$system_data.system_name}">
							</div>
						</div>

						<div class="form-group col-xs-12">
							<label class="col-sm-2 control-label text-right" for="upload_file_ext">上传文件类型*：</label>
							<div class="col-sm-10">
								<input class="form-control" type="text" id="upload_file_ext" name="upload_file_ext" value="{$system_data.upload_file_ext}">
							<p>允许的后缀名：ppt,pptx,xls,xlsx,jpg,gif,png,jpeg,zip,rar,tar,gz,7z,doc,docx,txt,pdf</p>
							</div>
							
						</div>
						<div class="form-group col-xs-12">
							<label class="col-sm-2 control-label text-right">登录验证码：</label>
							<div class="col-sm-10">
								<label>
									<input type="checkbox" value="1" name="login_verify_code" <eq name="system_data.login_verify_code" value="1">checked</eq> >
									开启</label>
							</div>
						</div>
						<div class="form-group col-xs-12">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-10">
								<a onclick="save_system()" class="btn btn-sm btn-primary">保存</a>
							</div>
						</div>
					</form>
				</div>


			<div class="tab-pane" id="tab-4">
				<input type="hidden" name="ajax" id="ajax" value="0">
				<select name="system_config_list" id="system_config_list" class="hidden">
					<option value="0">无</option>
					{:fill_option($system_config_list)}
				</select>
				<form id="form_search" name="form_search" method="post">
					<div class="operate panel panel-default">
						<div class="panel-body">
							<div class="pull-left">
								<select name="eq_pid" id="eq_pid" class="form-control" onchange="submit_search();">
									<option value=''>全部</option>
									{:fill_option($group_list)}
								</select>
							</div>
							<div class="pull-right">
								<a onclick="add()" class="btn btn-sm btn-primary">新增</a>
								<a onclick="save()"  class="btn btn-sm btn-primary">保存</a>
								|
								<a onclick="del()"  class="btn btn-sm btn-danger">删除</a>
							</div>
						</div>
					</div>
				</form>
				<!-- 功能操作区域结束 -->
				<!-- 列表显示区域  -->
				<form id="form_data_system" name="form_data_system" method="post">
					<input type="hidden" name="menu_id" id="menu_id" >
					<div class="col-sm-4 sub_left_menu tree_menu a ">
						<div class="well">
							<php>
								echo $menu
							</php>
						</div>
					</div>
				</form>
				<div class="col-sm-8 sub_content">
					<form id="form_data" name="form_data" method="post" class="common well form-horizontal clearfix">
						<input type="hidden" name="id" id="id">
						<input type="hidden" name="data_type" value="common">
						<input type="hidden" name="opmode" id="opmode" value="">
						<div class="form-group col-xs-12">
							<label class="col-sm-4 control-label" for="code">编码*：</label>
							<div class="col-sm-8">
								<input class="form-control" type="text" id="code" name="code" check="require" msg="请输入编码">
							</div>
						</div>
						<div class="form-group col-xs-12">
							<label class="col-sm-4 control-label" for="name">名称*：</label>
							<div class="col-sm-8">
								<input class="form-control" type="text" id="name" name="name" check="require" msg="请输入名称">
							</div>
						</div>
						<div class="form-group col-xs-12">
							<label class="col-sm-4 control-label" for="val">数据*：</label>
							<div class="col-sm-8">
								<input class="form-control" type="text" id="val" name="val" check="require" msg="请输入数据">
							</div>
						</div>
						<div class="form-group col-xs-12">
							<label class="col-sm-4 control-label" for="pid_name">父级*：</label>
							<div class="col-sm-8">
								<div class="input-group">
									<input name="pid_name" class="form-control" id="pid_name"  type="text" readonly="readonly" msg="请选择父级" check="require"/>
									<input name="pid" id="pid" type="hidden" msg="请选择上级部门" check="require" />
									<span class="input-group-btn">
										<button class="btn btn-sm btn-primary" onclick="select_pid()" type="button">
											选择
										</button> </span>
								</div>
							</div>
						</div>
						<div class="form-group col-xs-12">
							<label class="col-sm-4 control-label" for="sort">排序：</label>
							<div class="col-sm-8">
								<input class="form-control" type="text" id="sort" name="sort" >
							</div>
						</div>

						<div class="form-group col-xs-12">
							<label class="col-sm-4 control-label" for="is_del">状态*：</label>
							<div class="col-sm-8">
								<select   name="is_del" id="is_del1" class="form-control">
									<option  value="0">启用</option>
									<option value="1">禁用</option>
								</select>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="tab-pane" id="tab-5">
				<form id="form_system_push" name="form_system_push" method="post">
					<input type="hidden" name="data_type" value="system_push">
					<div class="form-group col-xs-12">
						<label class="col-sm-2 control-label text-right" for="ws_push_config">网页推送设置：</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" id="ws_push_config" name="ws_push_config" value="{$push_data.ws_push_config}">
						<p>可推送应用：审批,任务,信息,日报,日程,消息,邮件   等功能</p>
						</div>
					</div>
                    <div class="form-group col-xs-12">
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-10">
							<a onclick="save_system_push()" class="btn btn-sm btn-primary">保存</a>
						</div>
					</div>
				</form>
			</div>
		</div>
</block>
<block name="js">
	<script type="text/javascript">
		function add() {
			winopen("{:U('add')}",560, 470);
		}

		
		function release() {
			winopen("{:U('release')}",560, 470);
		}

		function save_system() {
			sendForm("form_system", "{:U('save')}", "{:U('index')}");
		}

		

		function save_system_push() {
			sendForm("form_system_push", "{:U('save')}", "{:U('index')}");
		}

		function save() {
			sendForm("form_data", "{:U('save')}", "{:U('index')}");
		}


		function del() {
			var vars = $("#form_data").serialize();
			if ($(".sub_left_menu a.active").parent().find(".tree_menu").html() != undefined) {
				ui_error("有子目录不能删除");
				return false;
			}
			ui_confirm('确定要删除吗?', function() {
				sendAjax("{:U('del')}", vars, function(data) {
					if (data.status) {
						ui_alert(data.info, function() {
							location.reload(true);
						});
					}
				});
			});
		}

		function del_menu() {
			var vars = $("#form_data_weixin").serialize();
			if ($(".sub_left_menu a.active").parent().find(".tree_menu").html() != undefined) {
				ui_error("有子目录不能删除");
				return false;
			}
			ui_confirm('确定要删除吗?', function() {
				sendAjax("{:U('del_menu')}", vars, function(data) {
					if (data.status) {
						ui_alert(data.info, function() {
							location.reload(true);
						});
					}
				});
			});
		}

		function select_pid() {
			winopen("{:U('winpop')}",560, 470);
		}

		
		
		function showdata_common(result) {
			$("#form_data #code").val(result.data['code']);
			$("#form_data #name").val(result.data['name']);
			$("#form_data #val").val(result.data['val']);
			$("#form_data #sort").val(result.data['sort']);
			$("#form_data #is_del").val(result.data['is_del']);
			$("#form_data #remork").val(result.data['remork']);
			$("#form_data #pid").val(result.data['pid']);
			$("#form_data #id").val(result.data['id']);
			$("#form_data #pid_name").val($("#system_config_list option[value='" + result.data['pid'] + "']").text());
			$("#opmode").val("edit");
		}


		
		function set_current_tab(num) {
			set_cookie('current_tab', num);
		}

		function get_current_tab() {
			if (get_cookie('current_tab') == undefined) {
				return 1;
			} else {
				return get_cookie('current_tab');
			}
		}

		//读取修改侧页
		$(document).ready(function() {

			//选择上次选择的TAB
			$current_tab = get_current_tab();
			$(".panel-heading li").removeClass("active");
			$(".tab-pane").removeClass("active");

			$("#tb" + $current_tab).addClass("active");
			$("#tab-" + $current_tab).addClass("active");

			set_val('eq_pid', '{$eq_pid}');

			

			$("#tab-4 .tree_menu a").click(function() {
				$(".sub_left_menu .tree_menu a.active").removeClass("active");
				$(this).addClass("active");
				sendAjax("{:U('read')}", "id=" + $(this).attr("node") + "&name=", function(data) {
					showdata_common(data);
				});
				return false;
			});
			//跳页

			sendAjax("{:U('read')}", "id={$eq_pid}", function(data) {
				showdata(data);
			});
		});
	</script>
</block>