{extend name="base@base/page_base" /}

{block name="content"}
<style>
	.bt_blue{
		background-color: #2CBB97;
		border-radius: 5px;
		color: #FFFFFF;
	}
	.bt_blue:hover{
		background-color: #28AA89;
	}
	.bt_button{
		background-color: #F3F3F3!important;
	    background: -webkit-linear-gradient(#FCFCFC, #EEEEEE);
	    background: -o-linear-gradient(#FCFCFC, #EEEEEE);
	    background: -moz-linear-gradient(#FCFCFC, #EEEEEE);
	    background: linear-gradient(#FCFCFC, #EEEEEE)!important;
	}
	.bt_button:hover{
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#FCFCFC), to(#DDDDDD));
		background: -webkit-linear-gradient(#FCFCFC, #DDDDDD);
		background: -moz-linear-gradient(#FCFCFC, #DDDDDD);
		background: -o-linear-gradient(#FCFCFC, #DDDDDD);
		background: linear-gradient(#FCFCFC, #DDDDDD)!important;
	}
	a.come_time,a.end_time{
		color: #4A90E2;
	}
	.custom_tip{
		background-image: url(answer-bg.png);
		background-repeat: no-repeat;
		background-position: right top;
		position: relative;
	}
	.custom_tip_box{
		width: 250px;
		height: auto;
		overflow: hidden;		
		position: absolute;
		left: 95%;
		top: 0;
		z-index: 999;
		
	}
	.custom_tip_box div.triangle{
		width: 15px;
		height: 15px;
		border-top: 1px solid #B3B3B3;
		border-left: 1px solid #B3B3B3;
		background-color: #FFFFFF;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		position: absolute;
		left: 10px;
		top: 50%;		
		z-index: 10;
	}
	.custom_tip_box div.tip_content{
		width: 230px;
		height: auto;
		overflow: hidden;
		float: right;
		border: 1px solid #B3B3B3;
		font-size: 12px;
	}
	.tip_content div.tip_title{
		width: 100%;
		height: 30px;
		line-height: 30px;
		background-color: #f5f5f5;
		border-bottom: 1px solid #B3B3B3;
	}
	.tip_content div.tip_words{
		text-align: left !important;
		font-size: 12px;
		font-weight: normal;
		background-color: #FFFFFF;
		width: 88%;
		height: auto;
		line-height: 24px;
		padding: 0 6%;
	}	
	tbody tr td a{
		color: #5b9bd1;
	}
</style>

<form method="POST" action="{:Url('index')}">
<div class="page-container">
	<div class="">
		日期范围：
                <input type="date" id="logmin" class="input-text Wdate" style="width:120px;" name="start" value="<?php if(!empty($data['start'])){ echo $data['start']; } ?>">
                -
                <input type="date" id="logmax" class="input-text Wdate" style="width:120px;" name="end" value="<?php if(!empty($data['end'])){ echo $data['end']; } ?>">
                
		<input type="text" name="dept_name" placeholder="部门名称" style="width:150px" class="input-text" value="<?php if(!empty($data['dept_name'])){ echo $data['dept_name']; } ?>">
		
                <input type="text" name="user_name"  placeholder="员工" style="width:150px" class="input-text" value="<?php if(!empty($data['user_name'])){ echo $data['user_name']; } ?>">
		<button  class="btn bt_blue" type="submit">查询</button>
	</div>
	
	<div class="mt-20" style="overflow-x: auto;">
		<table class="table table-border table-bordered table-bg table-sort">
                    <thead>
                        <tr>
                            <th width="60">账号</th>
                            <th width="130">姓名</th>
                            <th width="100">部门</th>
                            <th width="100">职位</th>
                            <th width="160">打卡时间</th>
                            <th width="60">星期</th>
                            <th width="160">地址</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($data_list as $k => $v){ ?>
                            <tr>
                                <td>{$v['emp_no']}</td>
                                <td>{$v['user_name']}</td>
                                <td>{$v['dept_name']}</td>
                                <td>{$v['position']}</td>
                                <td>{:date('Y-m-d H:i:s',$v['time'])}</td>
                                <td>{:weekday($v['time'])}</td>
                                <td>{$v['address']}</td>
                            </tr>				
                            <?php } ?>
                    </tbody>
		</table>
	</div>
</div>
</form>
{/block}
{block name="js"}
<script type="text/javascript" src="__LIB__/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript">
/*前端分页*/
$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	// "aoColumnDefs": [
	//   //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	//   {"orderable":false,"aTargets":[0,8]}// 制定列不参与排序
	// ]
});
	function myDate(hh){
		$("#mytest").text(hh);		
	};

$(function(){
	$(".layui-btn-primary").on("click",function(){
		//iframe层-父子操作
		layer.open({
		  type: 2,
		  area: ['700px', '450px'],
		  fixed: false, //不固定
		  maxmin: true,
		  btn: ['确定','取消'],
		  yes: function(index, layero){
    		//按钮【确定】的回调
    		layer.close(index);
  		 },
		  content: '补签卡.html'
		});		
	})
})

</script> 
{/block}