{extend name="base@base/page_base" /}

{block name="content"}
<form class="form form-horizontal" id="form-datas">
    <input type="hidden" id="id" value="{$role['id']}">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
		<div class="formControls col-xs-5 col-sm-8">
                    <input type="text" class="input-text" id="name" name="name" maxlength="20" value="{$role['name']}" required />
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>权限列表：</label>
		<div class="formControls col-xs-5 col-sm-8" id="prilist">
                    <ul>
                        <?php foreach ($data_list as $k => $v):
                        // 判断当前角色是否有这个权限 
                            if(strpos(','.$role['pri_ids'].',', ','.$v['id'].',') !== FALSE)
                                $check = 'checked="checked"';
                            else 
                            $check = '';
                        ?>
                                <li level="<?php echo $v['level']; ?>">
                                    <?php echo str_repeat('-', 8*$v['level']); ?>
                                        <input <?php echo $check; ?> name="pri_id_list[]" type="checkbox" value="<?php echo $v['id']; ?>" />
                                    <?php echo $v['name']; ?>
                                </li>
                        <?php endforeach; ?>
                    </ul>
		</div>
	</div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>排序：</label>
            <div class="formControls col-xs-5 col-sm-8">
                <input type="text" class="input-text" id="rank" name="rank" value="{$role['rank']}" />
            </div>
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<a id="submit-s" class="btn btn-primary radius">&nbsp;&nbsp;提交&nbsp;&nbsp</a>
		</div>
	</div>
</form>

{/block}
{block name="js"}
<script>
    $("#submit-s").click(function(){
        var id = $("#id").val();
        var name = $("#name").val();
        var rank = $("#rank").val();
        var list ="";
        var len  =$("#prilist ul li input[type='checkbox']:checked").length;
        $("#prilist ul li input[type='checkbox']:checked").each(function(i){
                if(i == len -1)
                {
                    list += $(this).val(); 
                }
                else{
                    list += $(this).val()+",";  
                }            
          });
        var str = "id="+id+"&name="+name+"&pri_ids="+list+"&rank="+rank;
        ajax("{:Url('save')}",str);
    });
    function ajax(url,str){
                    $.ajax({
                    url: url,
                    dataType: 'json',
                    data: str,
                    type: 'POST',
                    cache: false,
                    timeout: 20000,
                    success: function(data){
                            if(data.status == "1"){
                                alert(data.message);
                                var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                                parent.layer.close(index);
                            }else{
                                alert(data.message);
                            }
                        }
                    });
                }
</script>
{/block}